<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings file="..\..\secrets.config">
    <!-- See http://blog.davidebbo.com/2014/12/azure-service-principal.html to learn how to obtain these values -->
    <!--<add key="AzureTenantId" value="5476bed1-8973-4c10-b96b-4538cd9297f9" />
    <add key="AzureClientId" value="e5a0aafa-5f86-4b4c-8de9-652a8ca25981" />
    <add key="AzureClientSecret" value="lSVdAGJ7x62zQB0AIa8sgrkoYVj9O/iG6TA1D6+vtk0=" />
    <add key="AzureSubscription" value="f4859832-b7da-43a5-a172-da517ee71132" />-->
    <add key="login" value="https://login.windows.net/{0}" />
    <add key="apiEndpoint" value="https://management.core.windows.net/" />
    <add key="CertificateThumbNumber" value="8D62824B45A8E2B8F6F81709F0286E6C37FF1317" />    
    <!--Anatol subscription -->
    <add key="AzureTenantId" value="5bcae317-8b23-4286-9ba4-3353582fa180" />
    <add key="AzureClientId" value="06cc43c6-14c7-4a43-b7dc-df5c3edf11cc" />
    <add key="AzureClientSecret" value="epMKUOyQw0nVt7OPZ+rmL8TOuCOTMaEuRBiGi5nx308=" />
    <add key="AzureSubscription" value="499a4ff5-141d-4a08-9ffb-1fe146bcf362" />
  
  </appSettings>
</configuration>